body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    font-family: 'Arial', sans-serif;
    color: white;
    margin: 0;
}

.calculator {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 350px;
    background-color: #1c1c1c;
}

.calculator-display {
    background-color: #000;
    color: #fff;
    text-align: right;
    padding: 20px;
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
}

.calculator-screen {
    width: 100%;
    border: none;
    background: none;
    color: white;
    text-align: right;
    font-size: 2rem;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    border: 1px solid #555;
    padding: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #333;
    transition: background-color 0.2s;
    color: white;
}

.button:hover {
    background-color: #444;
}

.button.operator {
    background-color: #f39c12;
}

.button.operator:hover {
    background-color: #e67e22;
}

#clear, #clear-entry, #backspace {
    background-color: #e74c3c;
}

#clear:hover, #clear-entry:hover, #backspace:hover {
    background-color: #c0392b;
}

#equals {
    grid-column: span 2;
    background-color: #27ae60;
}

#equals:hover {
    background-color: #2ecc71;
}
